/* 페이지 초기화 */

*{margin:0; padding:0;}

li { list-style: none;}

a{text-decoration: none; color:black; display:block;}

/* 전역 설정 */

#wrap {
    width: 1000px;
    margin: 20px auto;
}

/* nav*/

nav{
    overflow: hidden;
    text-align: center;
}

nav>ul li {
    width: 100px; margin:10px; padding: 10px;
}



/*nav left*/

nav #nav_left>ul li {
    width: 100px;
    float: left;
    margin: 10px 30px 0 20px;
    height: 30px;
}
/****지울 경우 hover****/
/* nav #nav_left>ul li:first-child {
    border: 1px solid gray;
    background-color: #FDEADA;
    display: block;
} */
/*********************/
nav #nav_left>ul li a {
    display: block;
    line-height: 30px;
}

nav #nav_left>ul li a:hover {
    border: 1px solid gray;
    background-color: #FDEADA;
    display: block;
}

/*nav right*/

nav #nav_right>ul li {
    float: right;
    width: 80px;
    margin: 10px;
    height: 30px;
}

nav #nav_right>ul li a {
    display: block;
    line-height: 30px;
}



/* content */

#content {
    overflow: hidden;
}

/* title */

#content #title {
    border-bottom: 1px solid gray;
    padding: 10px;
    padding-top: 30px;
    margin-bottom: 10px;
    font-size: 1.2em;
}

/* lnb */

#content #lnb {
    float: left;
    width: 180px;
    height: 30px;
    margin-left: 15px;
}

#content #lnb>ul li {
    padding : 2px 30px;
    border : 1px solid gray;
}
/****지울 경우 hover****/
/* #content #lnb>ul li:nth-child(4){
    width: 118px;
    height: 30px;
    background-color: #FDEADA;
    display: block;
} */
/**********************/
#content #lnb>ul li a{
    padding : 0;
    display: block;
    width: 150px;
    height: 30px;
    line-height: 30px;
    font-size: .9em;
}

#content #lnb>ul li:hover{
    width: 118px;
    height: 30px;
    background-color: #FDEADA;
    display: block;
}
/* my content */

#content #my_content {
    width: 750px;
    border: 1px solid gray;
    float : left;
    margin-left: 30px;
    margin-bottom: 30px;
}

/* sub title */

#content #my_content #sub_title {
    border-bottom: 1px solid gray;
    height: 30px; line-height: 30px;
    font-size: 1.1em;
    padding-left: 10px;
}

/* modify */

#content #my_content #modify table {
    width : 70%; margin : 20px auto;
}

#content #my_content #modify table td {
    padding:3px;
}

#content #my_content #modify table input[type='text'],
#content #my_content #modify table input[type='tel'],
#content #my_content #modify table input[type='number'],
#content #my_content #modify table input[type='date'] {
    width:90%; height:25px;
    border:1px solid gray;
    text-align: center;
}
#content #my_content #modify table input[type='submit'] {
    padding:2px 10px;
    margin-top : 50px;
    margin-bottom: 10px;
}

/*footer*/

footer {
    text-align: center;
    height: 30px;
    line-height: 30px;
    background-color: #FDEADA;
    border: 1px solid gray;
}