/*ex.css (html과 같은 폴더)*/

/* 페이지 초기화 */

* {margin:0; padding: 0;}

a {
    text-decoration: none;
    display: block; color: rgb(0, 0, 105);
}

li {
    list-style: none;
}

/* header */
header{
    position: relative;
    background-color: #363894;
}

/* header #logo_wrap */
header #logo_wrap {
    line-height: 50px; text-align: center;
}

header #logo_wrap img.menu {
    position: absolute;
    left: 5px; top: 5px;
}

header #logo_wrap img.myinfo {
    position: absolute;
    right: 5px; top: 5px;
}

header #logo_wrap a {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}

/* header #search */

header #search {
    line-height: 50px; height: 60px;
    position: relative;
}

header #search input[type='text'] {
    margin-left: 10px;
    border: 3px solid #363894;
    outline: 0;
    width: 100%; height: 40px;
    box-sizing: border-box;
    font-size: 1.3em;
    padding: 0 65px 0 5px;
}

header #search input[type='submit'] {
    position: absolute;
    right: 0; top: 0;
    border: 0; outline: 0;
    background: url('ch07/search.png');
    width: 50px; height: 50px;
} 
/* #lnb */

#lnb ul {
    overflow: hidden;
    margin: 7px 0;
}

#lnb ul li {
    float: left;
    width: 16.666666%;
    border-right: 3px solid #363894;
    box-sizing: border-box;
    text-align: center;
}

#lnb ul li:last-child {
    border: 0;  
}

/* checkbox 비활성화 시 lnb 숨김 */

#lnb {display: none;}

#toggle {display: none;}

#toggle:checked ~ #lnb {display: block;}

/* section 1 */

#section1 {margin: 5px;}

#section1 .row1,
#section1 .row2,
#section1 .row3 {
    overflow: hidden;
}

#section1 .row1>div,
#section1 .row2>div,
#section1 .row3>div {
    float: left;
    width: 50%;
    height: 20%;
    border: 2px solid white;
    box-sizing: border-box;
}

#section1 img {
    width: 100%;
    height: 20%;
    object-fit: fill;
}


/* section 2 */

#section2 {margin: 5px;}

#section2 a{
    border: 1px solid #cccccc;
    padding: 5px;
    /*말줄임(ellipsis)*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* section 3 - 방법 1 */

#section3 {
    margin: 5px; 
    border: 1px solid gray;
}

/* #section3 li {
    padding: 10px;
    position: relative;
    height: 100px;
}

#section3 li p.img {
    position: absolute;
    left: 10px; top: 10px;
}

#section3 li p.txt {
    padding-left: 120px;
} */

/* section 3 - 방법 2 */

#section3 li {
    padding: 10px;
    height: 100px;
}

#section3 li p.img {
    float: left;
    padding-right: 10px;
}

#section3 li span:first-child {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.2em;
    font-weight: bold;
    color: #363894;
}

/* footer */

footer {
    padding-top: 10px;
    background-color: #363894;
    text-align: center;
}

footer p:last-child {
    font-size: .8em;
    color : #f0f0f0;
    padding-bottom: 10px;
}